* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}
header {
    padding: 20px 50px;
    height: 500px;
    width: 100%;
    gap: 24px;
    display: flex;
    flex-direction: column;
}
.titulo {
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.titulo h5 {
    font-size: 1rem;
}
hr {
    border: 0;
    height: 2px;
    background-color: #f1fc19;
}
.hero {
    background-image:url("./img/ImagemHero.png");
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover; 
    gap: 12px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero img{
    height: 100%;
    width: 100%;
    position: fixed;
}
.hero h3 {
    font: 500;
    color: aliceblue;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;

}
.hero h4 {
    font: 500;
    font-size: 1.5rem;
    color: rgb(244, 255, 83);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
main {
    padding: 20px 50px;
    height: 1500px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.stacks-tecnicas {
    height: 33%;
    display: flex;
    flex-direction: column;
}
.section-1-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.titulo-1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.titulo-1 h3{
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}
.titulo-1 hr {
    border: 0;
    width: 110px;
    height: 2px;
    background-color: #858585;
}
.titulo-1 h5{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}
.habilidades-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.losango {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid rgb(45, 43, 43);
    transform: rotate(45deg);
}
.losango div{
    display: flex;
    align-items: center;
    justify-content:center;
    transform: rotate(315deg);
}
.losango div img{
    height: 70px;
    width: 70px;
}